.center {
    background: #2980B9;
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    margin: auto;
    width: 60%;
    border: 3px solid #FFFFFF;
    padding: 40px;
    padding-right: 50px;
    font-family: "Times New Roman", Times, serif;
    color: white;
    height: 60%;


}

#city_name {
    font-size: 2em;
    text-transform: capitalize;
    justify-content: center;
}

.temperature {
    font-size: 4em;
    display: flex;
    justify-content: center;

}

.date-class {
    font-size: 2em;
    display: flex;
    justify-content: center;

}

.container {
    margin: 3px;
    padding: 1px;
    padding-right: 10px;
    justify-content: center;

}

.container {
    margin: 3px;
    padding: 1px;
    padding-right: 10px;
    justify-content: center;


}

h1 {

    text-align: center;
}