{% extends 'base.html.twig' %}
{% block title %}
	Votre météo !
{% endblock %}

{% block content %}
	{% block body %}
		<div class="container">
			<h1>Bienvenue sur la page Météo</h1>
			<span class="mb-5">&nbsp;</span>
			{{ form_start(form) }}
			<div class="d-inline row mb-3">
				<label for="cityNameInput" class="form-label">{{ form_label(form.city_name) }}</label>
				{{ form_widget(form.city_name) }}
				{{ form_errors(form.city_name) }}
				{{ form_end(form) }}
			</div>
		</div>
	{% endblock %}

	<div class="center">
		<div class="date-class">
			{{ "now"|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY")|capitalize }}
		</div>


		<div class="date-class">
			{% if data['weather'][0]['main'] == 'Clouds' %}
				<img src={{ asset ("images/cloudy.png")}} width="70" height="70">

			{% elseif data['weather'][0]['main'] == 'Clear'%}
				<img src={{ asset ("images/soleil.png")}} width="70" height="70">


			{% endif %}
		</div>


		<div class="temperature">
			<span id="temperature_label">
				{{ data.main.temp|round(0, 'ceil') }}
			</span>
			°C
		</div>


		<div class="text-center">
			<span id="city_name">{{ data.name }}</span>
		</div>

	</div>
{% endblock %}
